@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropDownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 30px;
  margin: 40px 0;

  @media (max-width: 768px) {
    gap: 20px;
    width: 100%;
  }
}
