@use "@/styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: calc(100% - $page-padding * 2);
  padding: 0 $page-padding;

  &__carrousel {
    position: relative;
    height: 40vh;
    width: 100%;
    min-height: 400px;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      object-fit: cover;
    }

    &__buttons {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - 4rem);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;

      &__button {
        font-size: 6rem;
        color: white;
        cursor: pointer;
        z-index: 1;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__left {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & h1 {
        font-size: 36px;
        font-weight: 500;
        color: $color-primary;
        margin: 0;
      }

      & p {
        font-size: 18px;
        margin: 0;
      }
    }

    &__right {
      display: flex;
      gap: 1rem;
      align-items: center;
      & p {
        font-size: 18px;
        margin: 0;
        color: $color-primary;
      }

      & img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
  }

  &__tags_and_stars {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__tags {
      display: flex;
      gap: 1rem;

      & p {
        font-size: 14px;
        color: white;
        background-color: $color-primary;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        min-width: 115px;
        text-align: center;
      }
    }
  }

  &__dropdowns {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;

    &__description {
      width: 100%;
    }

    &__equipments {
      width: 100%;
    }
  }
}
