@use "@/styles/variables.scss" as *;

.dropDown {
  width: 80%;
  height: 100%;
  position: relative;

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    background-color: $color-primary;
    border-radius: 5px;
    z-index: 10;
    position: relative;

    &__title {
      font-size: 24px;
      font-weight: 700;
      margin-left: 20px;
    }

    &__icon {
      margin-right: 20px;
      font-size: 24px;
    }
  }

  &__content {
    position: relative;
    background-color: #f6f6f673;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 143%;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;

    & p {
      padding: 70px 20px 20px 20px;
      display: none;
      transition: display 0.3s 0.3s ease-out;
    }
  }

  &__content__open {
    margin-top: -70px;
    max-height: 500px;

    & p {
      display: block;
    }
  }
}
