// Global SASS variables (colors, spacing)
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$font-family-primary: "Montserrat", sans-serif;
$color-primary: #ff6060;
$page-padding: 60px;
$page-padding-mobile: 20px;
