@use "@/styles/variables.scss" as *;

.footer {
  background-color: black;
  color: white;
  padding: 66px 0 28px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__text {
    font-size: 24px;
    font-weight: 500;
    font-family: $font-family-primary;
  }
}
