@use "@/styles/variables.scss" as *;

.locationCard {
  position: relative;
  width: calc((100vw - $page-padding * 2 - 20px * 2 - 50px * 2) / 3);
  height: calc((100vw - $page-padding * 2 - 20px * 2 - 50px * 2) / 3);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: calc(100%);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  & h2 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 2;
    font-family: $font-family-primary;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding-right: 10px;
  }
}
