@use "@/styles/variables.scss" as *;

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 100px;
  min-height: 60vh;

  &__title {
    margin: 0px;
    font-size: 288px;
    font-weight: 700;
    color: $color-primary;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 96px;
    }
  }

  &__text {
    margin: 0px;
    font-size: 36px;
    font-weight: 500;
    color: $color-primary;
    margin-bottom: 80px;
    text-align: center;
    padding: 0 60px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 500;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
