.logo {
  &__small {
    width: 122px;
    cursor: pointer;
  }
  &__large {
    width: 210px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    &__small {
      width: 122px;
    }
    &__large {
      width: 145px;
    }
  }
}
